Classes/ALGORITMOS E PROGRAMAÇÃO ESTRUTURADA/**/*.exe
Classes/ALGORITMOS E PROGRAMAÇÃO ESTRUTURADA/**/*.obj
Classes/ALGORITMOS E PROGRAMAÇÃO ESTRUTURADA/**/*.ilk
Classes/ALGORITMOS E PROGRAMAÇÃO ESTRUTURADA/**/*.pdb
Classes/ALGORITMOS E PROGRAMAÇÃO ESTRUTURADA/**/vc140.pdb