ALGORITMOS E PROGRAMAÇÃO ESTRUTURADA/**/*.exe
ALGORITMOS E PROGRAMAÇÃO ESTRUTURADA/**/*.obj
ALGORITMOS E PROGRAMAÇÃO ESTRUTURADA/**/*.ilk
ALGORITMOS E PROGRAMAÇÃO ESTRUTURADA/**/*.pdb
ALGORITMOS E PROGRAMAÇÃO ESTRUTURADA/**/vc140.pdb